{% extends 'base.html' %}




{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1>Generate Hashtags Captions <br> Images and Posts....</h1>    
            <form method="POST" action="/generate">
                <div class="form-group">
                    <label for="user_input">Enter your idea</label>
                    <textarea id="user_input" name="user_input" rows="7" class="form-control"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Generate</button>
            </form>
        </div>
        <div class="col-md-2"></div>

    </div>

</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
{% endblock %}
