.toggle{
  cursor: pointer;
}
.toggle:active{
  background: -webkit-linear-gradient(#fc7044,rgb(13, 0, 255));
  color: white;
}

.toggle:focus{
  background:-webkit-linear-gradient(#fc7044,rgb(13, 0 ,255));
}

.section-main{
  border-radius: 20px 20px 0 0;
  width: 90%;
  margin: auto;
}

.section-in{
  box-shadow: 1px 1px 10px rgb(153, 153, 153);
  border-radius: 10px;
}
.text {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 1000px; */
  }
  
  h2 {
    width: 980px;
    font-size: 100px;
    font-family: Helvetica;
    line-height: 1.06;
    letter-spacing: -0.02em;
    color: #fff;
  }
  
  .mask {
    height: 106px;
    position: relative;
    overflow: hidden;
    margin-top: var(--offset);
  }
  
  .mask span {
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 100px;
    padding-bottom: var(--offset);
    
    background-size: 100% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
  }
  
  .mask span[data-show] {
    transform: translateY(-100%);
    transition: .5s transform ease-in-out;
  }
  
  .mask span[data-up] {
    transform: translateY(-200%);
    transition: .5s transform ease-in-out;
  }
  
  .mask span:nth-child(1) {
    background-image: linear-gradient(45deg, #0ecffe 50%, #07a6f1);
  }
  
  .mask span:nth-child(2) {
    background-image: linear-gradient(45deg, #18e198 50%, #0ec15d);
  }
  
  .mask span:nth-child(3) {
    background-image: linear-gradient(45deg, #8a7cfb 50%, #633e9c);
  }
  
  .mask span:nth-child(4) {
    background-image: linear-gradient(45deg, #fa7671 50%, #f45f7f);
  }

  @media(max-width:573px){
    h2{
      
      font-size: 50px;
    }
  }

.section-con{
  width: 90%;
  background-color: red;
  margin: auto;
  border-radius: 20px 20px 0 0;
}